#about {
    text-align: center;
    padding-top: 2em;
}

#about .image {
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

#about .text {
    text-align: left;
    font-size: large;
}

.greeting {
    color: var(--text);
    font-weight: bold;
}