.project-header {
    display: flex;
}

.title {
    padding-right: 20px;
}

.github-link {
    font-size: 35px;
    color: var(--secondary);
}

.github-link:hover {
    color: var(--primary);
}

.robotics-link {
    color: var(--secondary);
}

.robotics-link:hover {
    color: var(--primary);
}