h1 {
    color: #444444;
}

.section-header {
    padding-top: 0.75em;
    padding-bottom: 0.25em;
    font-weight: bolder;
}

body {
    background-color: var(--primarylight);
    /* padding-top: 2em; */
    /* display: grid;
    grid-template-rows: repeat(5, 3fr); */
}

h2 {
    /* padding-top: 0.75em; */
    color: #444444;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about {
    text-align: center;
    padding-top: 1em;
}

#about .image {
    border-radius: 100%;
}

#about .text {
    text-align: left;
    font-size: large;
}

.header-button {
    border: none;
    background-color: var(--primary);
    width: 40px;
}

.header-button:hover {
    background-color: var(--secondary);
}