body {
    background-color: var(--primarylight);
}

.section-header {
    color: var(--text);
    padding-top: 0.75em;
    padding-bottom: 0.25em;
    font-weight: bolder;
}

h2 {
    color: var(--text);
}


/* .header-button {
    border: none;
    background-color: var(--primary);
    width: 40px;
}

.header-button:hover {
    background-color: var(--secondary);
} */